@use "../partial" as *; // 名前空間を省略

// こちらのファイルには基本追記しません。

/*============================
css変数
============================*/
:root {
  // カラー設定
  --white: #fff;
  --base01: #f4f4f4;
  --base02: #fff7eb;
  --text01: #333;
  --text02: #b5b5b5;
  --main01: #fb9235;
  --accent01: #fa6400;
  --cv01: #58b71a;
}

/*============================
スタイルの上書き
============================*/
body {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: $baseFontSize + px;
  color: var(--text01);
  font-weight: normal;
  font-variant: normal;
  line-height: 1.6;
  position: relative;
  text-align: left;
  word-break: break-all;
}

a {
  text-decoration: none;
  color: var(--clLink);
  @include transition(opacity, 0.2s);
  &:hover {
    //Bootstrap打ち消し
    color: var(--clLink);
    opacity: 0.7;
  }
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

:where(em) {
  font-style: normal;
}

.btn:active,
input[type="submit"]:active {
  opacity: 0.7;
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.3), 0px 0px 3px rgba(255, 255, 255, 0.7);
}

/*============================
サイト全体レイアウト
============================*/
body {
  display: grid;
  grid-template: "header" auto "contents" 1fr "footer" auto/100%;
  min-height: 100vh;
}
header {
  grid-area: header;
}
main {
  grid-area: contents;
}
footer {
  grid-area: footer;
}

/*============================
汎用スタイル
============================*/
html {
  // スムーススクロール
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-padding-top: $scrollPaddingTopPc;
  @include sp {
    scroll-padding-top: $scrollPaddingTopSp;
  }
}
@media (prefers-reduced-motion: reduce) {
  html {
    // 必要不可欠でないアニメーションを無効にするスタイル
    scroll-behavior: auto;
    -webkit-overflow-scrolling: auto;
  }
}

/*============================
スクロール
============================*/
/* スクロールバー全体 */
::-webkit-scrollbar {
  width: 9px;
}

/* スクロールハンドル部分 */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 1px;
}

/* スクロール背景部分 */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/*============================
フォーム
============================*/
button.btn:disabled,
input.btn:disabled {
  // ドロップ禁止カーソル（IE6以上の独自拡張）
  cursor: no-drop !important;
}

/*============================
spモーダルの全画面表示（bootstrap上書き）
============================*/
@include sp {
  .modal {
    &.full_screen {
      @include hideScrollBar;
      overflow: auto;
      background-color: #fff;
      .modal-dialog {
        margin: 0;
        max-width: none;
      }
      .modal-content {
        width: 100vw;
        min-height: 100svh;
        border: none;
      }
      .modal-header {
        border-radius: 0;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 600;
        .close {
          opacity: 1;
        }
      }
      .modal-footer {
        position: fixed;
        width: 100%;
        bottom: 0;
      }
    }
  }
}

/*============================
レスポンシブレイアウト
============================*/
// スマホのみ表示
@include sp {
  .pc_only {
    display: none !important;
  }
}
// PCのみ表示
@include pc {
  .sp_only {
    display: none !important;
  }
}
