@use "../partial" as *; // 名前空間を省略

/*============================
ボタン
============================*/
.btn {
  display: inline-block;
  font-size: rem(16);
  font-weight: bold;
  border-radius: 4px;
  box-sizing: border-box;
  height: 52px;
  @include flexCenter(xy);
  @include hover();

  &:disabled,
  &.is_disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

/* タブキーでの選択で枠線を表示 */
button,
.btn {
  &:focus {
    box-shadow: none;
  }
  &:focus-visible {
    outline: none;
    // bootstrapの:focus時のスタイルを適用
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
}

.btn i,
.btn svg {
  margin: 0 4px 0 0;
}
