@use "../partial" as *; // 名前空間を省略

/*============================
フッター
============================*/

.footer {
  width: 100%;
  background-color: var(--main01);
}

/*============================
フッター内ナビゲーション
============================*/
.footer_nav {
  a {
    color: var(--clText);
    font-size: rem(12);
    border-right: solid 1px var(--clText);
    padding: 0 10px;
    &:first-child {
      padding: 0 10px 0 0;
    }
    &:last-child {
      border-right: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

/*============================
コピーライト
============================*/
.copyright {
  display: block;
  color: var(--white);
  font-size: rem(14);
  letter-spacing: 0.02em;
  text-align: center;
  padding-block: rem(24.5);
}
