@use "../partial" as *; // 名前空間を省略

/*============================
フォーム基本設定
============================*/

input[type="submit"] {
  @include transition(opacity, 0.2s);
  &:hover {
    opacity: 0.7;
  }
}

input:not([type="submit"]),
textarea,
select {
  background-color: #fff;
  border: solid 1px var(--clGray_cc);
  border-radius: 4px;
}

input,
textarea,
select {
  font-size: rem(14);

  &:focus {
    background-color: var(--clMain01_lighter);
    outline-color: var(--clMain01);
  }
  &::placeholder {
    color: var(--clGray_cc);
  }
  // エラー色
  &.is_error {
    background-color: var(--clAttention_light);
    outline: 2px solid var(--clAttention);
    &:focus {
      background-color: var(--clAttention_light);
      outline: 2px solid var(--clAttention);
    }
  }
}

input,
select {
  padding: 8px 10px;
}

textarea {
  padding: 10px;
  width: 100%;
  height: calc(10rem * 1.6 + 10px); /*デフォルトは10行分の高さに設定*/
}

// チェックボックス＆ラジオボタン
input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
}
// チェック時はフォントサイズを太字に
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  font-weight: bold;
}

// 非活性
input[type="text"]:disabled {
  background-color: #e2e2e2;
}

input[type="search"] {
  appearance: none;
}

/*============================
チェックボックス
============================*/
.checkbox {
  label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid var(--clGray_97);
      border-radius: 3px;
      background-color: #fff;
    }
    &.is_current {
      &::before {
        background-color: var(--clMain01);
        border-color: transparent;
      }
    }
    input[type="checkbox"] {
      opacity: 0;
      position: absolute;
      &:checked {
        + span {
          opacity: 1;
          display: block;
          content: "";
          position: absolute;
          box-sizing: border-box;
          width: 12px;
          height: 8px;
          top: calc(50% - 5px) !important;
          left: 4px;
          transform: rotate(-45deg);
          border-bottom: 3px solid;
          border-left: 3px solid;
          border-color: #fff;
        }
      }
    }
  }
}

/*============================
ラジオボタン
============================*/
.radiobox {
  label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    &::before,
    &::after {
      content: "";
      display: block;
      border-radius: 50%;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0px;
    }
    &::before {
      background-color: #fff;
      border: var(--clMain01) 1px solid;
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }
    &::after {
      background-color: var(--clMain01);
      border-radius: 50%;
      opacity: 0;
      width: 12px;
      height: 12px;
      left: 4px;
    }
  }
  input[type="radio"] {
    opacity: 0;
    position: absolute;
  }
  input[type="radio"]:checked + label::after {
    opacity: 1;
  }
}

/*============================
画像アップロード
============================*/
.uploadImg {
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 2px solid var(--clText);
  text-align: center;
  font-size: rem(14);
  font-weight: bold;
  padding: 12px 0;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  @include hover(0.7);
  input[type="file"] {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  // 最大枚数に到達したとき
  &.is_max {
    background-color: var(--clGray_cc);
    color: #fff;
    border: none;
    pointer-events: none;
  }
}
// アップロードした画像
.selectedImg {
  text-align: left;
  margin: 15px auto 0;
  @include flexCenter(y);
  flex-wrap: wrap;
  gap: 16px 8px;
  li {
    width: calc(((100% - 16px) / 3));
    text-align: center;
    img {
      width: auto;
      max-width: 100%;
      height: 140px;
      object-fit: cover;
      @include sp {
        height: 80px;
      }
    }
    span {
      display: block;
      width: 100%;
      height: auto;
      line-height: normal;
      text-align: center;
      background-color: var(--clText);
      color: #fff;
      font-size: rem(13);
      margin-top: 8px;
      cursor: pointer;
      transition: opacity 0.3s ease;
      border-radius: 4px;
      padding: 12px 0;
      &:hover {
        opacity: 0.8;
      }
      &::before {
        content: "\f00d";
        font-family: "Font Awesome 6 Pro";
        font-weight: 900;
        margin-right: 8px;
        font-size: rem(12);
      }
    }
  }
  &.is_only {
    li {
      width: auto;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      img {
        width: 100%;
        max-width: 250px;
        height: auto;
        object-fit: contain;
      }
    }
  }
}

/*============================
文字数制限
============================*/
.limit {
  .present_value,
  .present_value_send {
    &.is_active {
      font-weight: bold;
      color: var(--clAttention);
      font-size: 1.1em;
    }
  }
}
// 文字数超えた場合の警告テキスト
.over_text,
.over_text_send {
  display: none;
  color: var(--clAttention);
  margin-top: -20px;
  font-size: rem(14);
  @include sp {
    margin: 5px auto 0;
  }
  &.is_active {
    display: block;
  }
}
