@use "../partial" as *; // 名前空間を省略

/*============================
ヘッダー
============================*/

.header {
  position: relative;
  width: 100%;
}
.header_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 1px 1px rgba(97, 97, 97, 0.1);
  @include sp {
    height: 60px;
  }
}
.header_navbar {
  width: 100%;
  max-width: $pcWidth;
  margin: 0 auto;
  @include flexCenter(y);
  justify-content: space-between;
  @include mq(769px, 1199px) {
    width: 98%;
  }
  .logo {
    margin: 0 1rem 0 0;
    @include sp {
      margin: 0 10px 0 20px;
      flex: 1;
    }
    @media screen and (max-width: 374px) {
      margin: 0 10px;
    }
    img {
      width: 210px;
      height: auto;
      @include sp {
        max-width: 173px;
      }
      @media screen and (max-width: 374px) {
        max-width: 130px;
      }
    }
  }
}


/*============================
ヘッダー内ナビゲーション
============================*/

.header_nav {
  @include flexCenter(y);
  justify-content: flex-end;
  position: relative;
  margin: 0 0 0 5px;

  @include sp {
    margin: 0;
  }
}
