@use "../partial" as *; // 名前空間を省略

/*============================
ヘッダー
============================*/

.header {
  position: relative;
  width: 100%;
}
.header_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 1px 1px rgba(97, 97, 97, 0.1);
  @include sp {
    height: 60px;
  }
}
.header_navbar {
  width: 100%;
  max-width: $pcWidth;
  margin: 0 auto;
  @include flexCenter(y);
  justify-content: space-between;
  @include mq(769px, 1199px) {
    width: 98%;
  }
  .logo {
    margin: 0 1rem 0 0;
    @include sp {
      margin: 0 10px 0 20px;
      flex: 1;
    }
    @media screen and (max-width: 374px) {
      margin: 0 10px;
    }
    img {
      width: 210px;
      height: auto;
      @include sp {
        max-width: 173px;
      }
      @media screen and (max-width: 374px) {
        max-width: 130px;
      }
    }
  }
}

/*============================
ヘッダー検索
============================*/

.header_search {
  @include flexCenter(y);
  flex-grow: 1;
  margin: 0 5px 0 0;
}

.header_searchForm {
  position: relative;
  width: 100%;
  display: flex;
  height: 44px;
  input[type="search"] {
    line-height: 34px;
    padding: 0 12px;
    width: 100%;
    min-width: 100px;
    max-width: 335px;
    border-radius: 21px;
    border: solid 1px var(--clGray_cc);
    border-right: none;
    color: var(--clText);
    font-size: rem(13);
    &:focus {
      outline: var(--clMain01) 2px solid;
    }
  }
  .bg {
    display: inline-block;
    background: #fff;
    width: 42px;
    min-width: 42px;
    border-radius: 0 21px 21px 0;
    margin: 0 0 0 -42px;
  }
  .submitBtn {
    height: 44px;
    width: 100%;
    border-left: none;
    border-radius: 0 21px 21px 0;
    color: #fff;
    text-align: center;
    background: var(--clMain01);
    i {
      font-size: 18px;
      line-height: 36px;
    }
  }
}

/*============================
ヘッダー内ナビゲーション
============================*/

.header_nav {
  @include flexCenter(y);
  justify-content: flex-end;
  position: relative;
  margin: 0 0 0 5px;
  @include sp {
    margin: 0;
  }
  .btn {
    font-weight: bold;
    @include flexCenter(xy);
    margin-right: 5px;
    padding: 0 8px;
    img {
      margin: 0 5px 0 0;
      @include sp {
        margin: 0 0 5px 0;
      }
    }
  }

  .btn_service_order {
    width: 110px;
    height: 40px;
    font-size: rem(14);
    @include sp {
      width: 60px;
      height: 60px;
      font-size: rem(11);
      margin-right: 0;
      @include flexCenter(y);
      flex-direction: column;
      padding: 10px 3px 3px;
      border-radius: 0;
    }
    img {
      @include sp {
        width: 20px;
      }
    }
  }

  .btn_favorite,
  .btn_order_history {
    width: 110px;
    height: 40px;
    font-size: rem(13);
    i {
      color: var(--clMain01);
    }
    @include sp {
      display: none;
    }
  }

  .menu_btn {
    width: 60px;
    height: 70px;
    text-align: center;
    color: var(--clText);
    font-size: rem(11);
    @include flexCenter(xy);
    flex-wrap: wrap;
    background-color: #fff;

    @include sp {
      width: 56px;
      height: 60px;
    }
    > i {
      font-size: 25px;
      width: 100%;
      margin: 12px 0 0;
      color: var(--clMain01);
    }
  }

  /* お知らせ・マイページメニュー */
  .btn_notification,
  .btn_mypage {
    position: relative;

    @include sp {
      &:not(.collapsed) ~ #notificationList ~ .modal.notification,
      &:not(.collapsed) ~ #mypageMenu ~ .modal.mypage {
        transition: 0.3s;
        display: block;
      }
      &[aria-expanded="true"] {
        z-index: 1000;
      }
    }
  }

  .btn_notification {
    .notification_badge {
      background-color: var(--clAttention);
      color: #fff;
      font-weight: bold;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border: solid 1px #fff;
      font-size: rem(10);
      border-radius: 50%;
      position: absolute;
      top: 22px;
      right: 5px;
    }
  }

  .btn_mypage {
    text-align: center;
    img {
      width: 40px;
      min-width: 40px;
      height: 40px;
      margin: 8px auto -5px;
      object-fit: cover;
      border: var(--clGray_ed) solid 1px;
      @include sp {
        width: 34px;
        min-width: 34px;
        height: 34px;
      }
    }
  }
}

/*ヘッダーメニュー*/
.header_menu {
  position: absolute;
  top: calc(100% + 10px);
  width: 300px;
  color: var(--clText);
  background-color: var(--clText);
  z-index: 999;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

  &:before {
    content: "";
    position: absolute;
    top: -24px;
    right: 16px;
    border: 12px solid transparent;
    border-bottom: 12px solid var(--clMain01_light);
    transform: scale(0.8, 1);
    @include sp {
      display: none;
    }
  }
  &.is_farmer {
    &:before {
      border-bottom: 12px solid var(--clMain02_light);
    }
  }
  @include sp {
    width: 100vw !important;
    top: 100%;

    + .modal.notification,
    + .modal.mypage {
      z-index: 10;
      display: none;
      background-color: rgba(0, 0, 0, 0.6);
      height: 100vh;
    }
  }

  .navbar-nav {
    @include sp {
      width: 100vw;
    }
  }

  .serviceMenu {
    .caption {
      color: var(--clText);
      background-color: var(--clMain01_light);
    }
  }
  .btn_close {
    border-radius: 0;
    padding-top: 5px;
    width: 100%;
    height: 40px;
    color: #fff;
    font-weight: bold;
    @include flexCenter(xy);

    i {
      margin-right: 8px;
    }
  }

  .btn_side {
    align-items: center;
    margin-right: 0;
    .btn {
      width: calc(100% - 40px);
      margin-right: 0 !important;
      @include sp {
        column-gap: 10px;
      }
      img {
        @include sp {
          margin: 0 !important;
        }
      }
      &.btn_clMain_border {
        border-width: 2px;
      }
    }
  }
}

/*お知らせ*/
#notificationList {
  width: 400px;

  &.header_menu:before {
    right: 76px;
    border-bottom-color: #fff;
    filter: drop-shadow(-1px -2px 2px rgba(0, 0, 0, 0.1));
  }
  ul {
    border-radius: 4px;
    background: #fff;
    max-height: 400px;
    overflow-y: scroll;
    display: block;
    border-radius: 0;
  }
  li {
    position: relative;
    width: 100%;
    line-height: 1.5em;
    position: relative;
    /* 未読 */
    &.is_unread {
      a {
        background-color: var(--clMain01_lighter);
      }
    }
    i {
      position: absolute;
      top: 50%;
      right: 20px;
      color: var(--clGray_97);
    }
    a {
      display: grid;
      grid-template-areas:
        "image date"
        "image message";
      grid-template-columns: 64px 1fr;
      gap: 5px 10px;
      align-items: center;
      padding: 10px 40px 10px 16px;
      border-bottom: solid 1px var(--clGray_cc);

      time {
        grid-area: date;
        display: block;
        color: var(--clGray_97);
        font-size: rem(11);
        width: 100%;
      }
      p {
        grid-area: message;
        font-size: rem(14);
        color: var(--clText);
        line-height: 1.3;
      }
      .notificationImg {
        grid-area: image;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 3 / 2;
          border-radius: 6px;
          border: solid 1px var(--clGray_cc);
          object-fit: cover;
        }
      }
    }
  }
  /* メッセージが0件のとき */
  .no_message {
    font-size: 0.8rem;
    width: 100%;
    padding: 10px 16px;
    background-color: #fff;
  }
}

/*============================
マイページメニュー
============================*/

#mypageMenu {
  @include sp {
    width: 100%;
    top: 100%;
    max-height: calc(100vh - 100%);
    max-height: calc(100dvh - 100%);
    overflow: scroll;
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  &::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
  .navbar-nav {
    flex-direction: column;
    display: flex;
    background-color: #fff;

    @include sp {
      height: 120vh;
    }
  }
  .nav-item {
    padding: 0 20px;
    position: relative;
    border-bottom: var(--clGray_ed) 1px solid;
    margin-bottom: 0;
    a {
      color: var(--clText);
      padding: 14px 0;
      @include flexCenter(y);
      i,
      img {
        color: var(--clGray_97);
        margin-right: 10px;
      }
    }
  }
  .caption {
    padding: 2px 15px;
    font-weight: bold;
    font-size: rem(14);
  }
}
