@use "../partial" as *; // 名前空間を省略

/*============================
商品カセット
============================*/

.itemCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "image"
    "item"
    "provider";
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  border: solid 1px var(--clGray_cc);

  &:hover,
  &:active {
    border-color: var(--clMain01);
    box-shadow: 0 0 12px rgba(68, 68, 68, 0.22);
    transition: all 0.5s;
    .title {
      color: var(--clMain01);
      transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
      opacity: 1;
    }
  }
  .img_wrap {
    grid-area: image;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      max-height: 220px;
      aspect-ratio: 3 / 2;
      object-fit: cover;
      border-radius: 4px 4px 0 0;
    }
    .favBtn {
      position: absolute;
      right: 7px;
      bottom: 8px;
      z-index: 20;
      cursor: pointer;
      &:hover {
        opacity: 1;
        .tip {
          transform: translateX(-50%) translateY(-100%);
          transition-property: transform, opacity;
          transition-duration: 0.2s;
          top: -5px;
          opacity: 1;
        }
      }
    }
  }
  .item_wrap {
    grid-area: item;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5em 1fr auto;
    grid-template-areas:
      "title"
      "area"
      "price";
    row-gap: 5px;
    padding: 10px 8px;

    .title {
      grid-area: title;
      font-size: rem(14);
      font-weight: bold;
      line-height: 1.5;
      @include ellipsis(2);

      .link {
        color: var(--clText);
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 10;
        }
      }
    }
    .area {
      grid-area: area;
      font-size: rem(11);
      @include ellipsis(1);

      i {
        color: var(--clMain01);
        margin-right: 5px;
      }
    }
    .price_wrap {
      grid-area: price;
      @include flexCenter(y);
      gap: 5px;

      .price {
        font-size: rem(20);
        font-weight: bold;
        // iPhone safari余白対策
        letter-spacing: -0.04rem;

        @include mq(809px, 831px) {
          font-size: rem(19);
        }
        @include mq(786px, 808px) {
          font-size: rem(18);
        }
        @include mq(776px, 785px) {
          font-size: rem(17);
        }
        @include mq(769px, 775px) {
          font-size: rem(16);
        }
        &::before {
          content: "¥";
          font-size: rem(14);
          margin-right: 5px;
        }
      }
      .tag_shipping {
        display: inline-block;
        padding: 2px 6px;
        font-size: rem(12);
        border-radius: 55px;
        white-space: nowrap;

        @include mq(1001px, 1004px) {
          font-size: rem(11);
        }
        @include mq(809px, 831px) {
          font-size: rem(11);
        }
        @include mq(786px, 808px) {
          font-size: rem(10);
        }
        @include mq(776px, 785px) {
          font-size: rem(9);
        }
        @include mq(769px, 775px) {
          font-size: rem(8);
        }
        &.is_included {
          background-color: var(--clMain01_light);
        }
      }
    }
  }

  // 提供者について
  .provider {
    grid-area: provider;
    border-top: 1px dashed var(--clGray_cc);
    padding: 10px 8px;

    .prof_link {
      @include flexCenter(y);
      column-gap: 16px;

      .prof_icon {
        position: relative;

        img {
          width: 40px;
          min-width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: solid 1px rgba(0, 0, 0, 0.1);
          background-color: #fff;
        }
        .icon_status {
          position: absolute;
          top: 23px;
          left: 30px;
        }
      }
      .prof_name {
        color: var(--clText);
        font-size: rem(12);
        @include ellipsis(2);
      }
    }
  }
  // 売り切れ
  &.is_soldout {
    &:before {
      content: "売り切れ";
      font-size: rem(12);
      font-weight: bold;
      background-color: var(--clAttention_light);
      padding: 5px 10px;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 100;
      border-radius: 4px 0 0 0;
    }
  }
}
