@use "./var" as *; // 名前空間を省略

@mixin colorSet($color, $bgColor) {
  color: $color;
  background-color: $bgColor;
}

@function rem($pixel, $context: $baseFontSize) {
  @return calc($pixel / $context * 1rem);
}

@mixin transProp($prop) {
  transition-property: $prop;
}

@mixin transition($prop, $time: $transTime) {
  @include transProp($prop);
  transition-duration: $time;
}

@mixin hover($opacity: 0.7) {
  @include transition(opacity);
  opacity: 1;

  @media (any-hover: hover) {
    &:hover {
      @include transition(opacity);
      opacity: $opacity;
      cursor: pointer;
    }
  }
}

@mixin flexCenter($direction) {
  display: flex;

  @if $direction==x {
    justify-content: center;
  }
  @if $direction==y {
    align-items: center;
  }
  @if $direction==xy {
    align-items: center;
    justify-content: center;
  }
}

// Media Queries
@mixin sp {
  @media (width <= $bp) {
    @content;
  }
}

@mixin pc {
  @media (width > $bp) {
    @content;
  }
}

@mixin mq($min, $max) {
  @media ($min < width <= $max) {
    @content;
  }
}

// 子要素を中央寄せ（親要素に position: rerative を忘れずに）
@mixin center($direction) {
  position: absolute;
  @if $direction==xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if $direction==x {
    left: 50%;
    transform: translateX(-50%);
  } @else if $direction==y {
    top: 50%;
    transform: translateY(-50%);
  }
}

// 3点リーダー省略
@mixin ellipsis($lines: 1) {
  overflow: hidden;
  @if $lines == 1 {
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    text-overflow: ellipsis;
    white-space: unset;
  }
}

@mixin hideScrollBar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ボタンサイズ
　　@include btnSize(s);
　　引数のs,m,lでサイズを選択 */
@mixin btnSize($size) {
  @if $size == ss {
    height: 36px;
    font-size: rem(14);
  }
  @if $size == s {
    height: 40px;
    font-size: rem(14);
  }
  @if $size == m {
    height: 46px;
    font-size: rem(14);
  }
  @if $size == l {
    height: 52px;
    font-size: rem(16);
  }
}

/* ユーザーアイコン（[class*="statusBorder_"]を付与したimgタグにinclude）
　　@include profIconSize(s);
　　引数のs,m,lでサイズを選択
  */
@mixin profIconSize($size) {
  border-radius: 50%;
  object-fit: cover;
  background-color: #fff;

  @if $size == s {
    width: 28px;
    min-width: 28px;
    height: 28px;

    &:not([class*="statusBorder_"]) {
      width: 26px;
      min-width: 26px;
      height: 26px;
      border: solid 1px rgba(0, 0, 0, 0.1);
    }
    &.statusBorder_pengin {
      border: 2px solid #d9cfe8;
    }
    &.statusBorder_iruka {
      border: 2px solid #9ccaff;
    }
    &.statusBorder_panda {
      border: 2px solid #a8d560;
    }
    &.statusBorder_tora {
      border: 2px solid #ffa91e;
    }
    &.statusBorder_kodomo {
      border: 2px solid #9ddce0;
    }
    &[class*="statusBorder_"] {
      outline: 1px solid #fff;
    }
  } @else if $size == m {
    width: 38px;
    min-width: 38px;
    height: 38px;

    &:not([class*="statusBorder_"]) {
      width: 34px;
      min-width: 34px;
      height: 34px;
      border: solid 1px rgba(0, 0, 0, 0.1);
    }
    &.statusBorder_pengin {
      border: 3px solid #d9cfe8;
    }
    &.statusBorder_iruka {
      border: 3px solid #9ccaff;
    }
    &.statusBorder_panda {
      border: 3px solid #a8d560;
    }
    &.statusBorder_tora {
      border: 3px solid #ffa91e;
    }
    &.statusBorder_kodomo {
      border: 3px solid #9ddce0;
    }
    &[class*="statusBorder_"] {
      outline: 2px solid #fff;
    }
  } @else if $size == l {
    width: 48px;
    min-width: 48px;
    height: 48px;

    &:not([class*="statusBorder_"]) {
      width: 42px;
      min-width: 42px;
      height: 42px;
      border: solid 1px rgba(0, 0, 0, 0.1);
    }
    &.statusBorder_pengin {
      border: 4px solid #d9cfe8;
    }
    &.statusBorder_iruka {
      border: 4px solid #9ccaff;
    }
    &.statusBorder_panda {
      border: 4px solid #a8d560;
    }
    &.statusBorder_tora {
      border: 4px solid #ffa91e;
    }
    &.statusBorder_kodomo {
      border: 4px solid #9ddce0;
    }
    &[class*="statusBorder_"] {
      outline: 2px solid #fff;
    }
  }
}

/* 会員区分アイコンのサイズ(.icon_statusにinclude)
　　@include statusIconSize(s);
　　引数のs,m,lでサイズを選択 */
@mixin statusIconSize($size) {
  position: absolute;
  @if $size == s {
    width: 16px;
    top: 15px;
    left: 15px;
  } @else if $size == m {
    width: 20px;
    top: 22px;
    left: 22px;
  } @else if $size == l {
    width: 23px;
    top: 30px;
    left: 28px;
  }
}
