@use "../partial" as *; // 名前空間を省略

/*============================
商品画像モーダル
============================*/

.swiperImgModal {
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  top: 0;
  left: 0;
  background-color: rgba(var(--clMain01), 0.95);
  display: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.swiperImgModal_header {
  display: flex;
  justify-content: flex-end;
}
.swiperImgModal_close {
  width: 80px;
  height: 80px;
  color: #fff;
  background-color: var(--clMain01);
  @include flexCenter(xy);
  flex-flow: column;
  @include sp {
    width: 50px;
    height: 50px;
    font-size: rem(12);
  }
  i {
    font-size: rem(24);
    @include sp {
      font-size: rem(16);
    }
  }
}
.swiperImgModal_body {
  width: 100%;
  max-width: 770px;
  margin: 0 auto 110px;
  @include sp {
    margin: 0;
    padding: 0 20px;
  }
  .swiperMain {
    width: auto;
    height: 60vh;
    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        max-height: 60vh;
        object-fit: contain;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 32px;
      height: 32px;
      background-color: #444444;
      border-radius: 50%;
      border: #fff 1px solid;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      cursor: pointer;
      &:after {
        content: "";
      }
    }
    &.swiper-horizontal {
      touch-action: pinch-zoom;
    }
  }
  .swiperThumbnail {
    margin: 20px 0 0;
    .swiper-wrapper {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      gap: 4px;
    }
    .swiper-slide {
      width: calc((100% / 5) - 4px) !important;
      aspect-ratio: 3 / 2;
      cursor: pointer;
      img {
        border-radius: 6px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 0.5;
      }
    }
    .swiper-slide-thumb-active {
      img {
        opacity: 1;
        border: var(--clMain01) 2px solid;
      }
    }
  }
}
