@use "../partial" as *; // 名前空間を省略

/*============================
レビューカセット
============================*/

.review_box {
  width: 100%;
  border: var(--clGray_cc) 1px solid;
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
  @include sp {
    width: 100%;
  }

  // 商品情報
  .productInfo {
    border-bottom: var(--clGray_cc) 1px solid;
    margin-bottom: 1rem !important;

    .link {
      margin-bottom: 1rem !important;
      @include flexCenter(y);
      column-gap: 20px;

      img {
        aspect-ratio: 3 / 2;
        width: 95px !important;
        border-radius: 4px;
        object-fit: cover;
      }
      .name {
        font-size: rem(14);
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
  .prof_wrap {
    margin-bottom: 14px;
    @include flexCenter(y);

    .prof_img {
      min-width: 40px;
      display: inline-block;
      position: relative;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #fff;
      }
      .icon_status {
        position: absolute;
        top: 23px;
        left: 32px;
      }
    }
    .name {
      font-size: rem(13);
      margin-left: 15px;
      @include ellipsis(1);

      a {
        color: var(--clText);
      }
    }
  }
  .review {
    // 続きを読む
    .btn_more {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: var(--clMain01);
      text-align: center;
      font-size: rem(12);
      font-weight: bold;
      cursor: pointer;
      transition: bottom 0.5s;

      &::after {
        content: "\f078";
        font-family: "Font Awesome 6 Pro";
        margin-left: 5px;
      }
      &.is_open {
        background: transparent;

        &::after {
          content: "\f077";
        }
      }
    }
    // 「コメントする」ボタン
    .btn_comment {
      border-top: var(--clGray_cc) 1px solid;
      padding-top: 1rem;
      margin-top: 1rem;
      text-align: center;

      .farmerCommentInputBtn {
        font-size: rem(14);
        padding: 10px 50px;
      }
    }
  }
  .review_header {
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    .date {
      font-size: rem(11);
      color: var(--clGray_97);
    }
    .icon_pic {
      display: none;
      font-size: rem(11);
      background-color: var(--clMain01_light);
      padding: 1px 6px;
      border-radius: 45px;
      margin-left: 10px;
    }
  }
  .review_comment {
    position: relative;
    transition: all 0.5s;
    max-height: 100px;
    overflow: hidden;
    &.is_active {
      .review_commentInner {
        &.is_accordion::after {
          background: transparent;
        }
      }
    }
    // レビューコメント返信モーダルでは本文を全て見せる
    &.is_replyModal {
      max-height: inherit;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .text {
      font-size: rem(14);
    }
  }
  .review_commentInner {
    padding-bottom: 2rem;

    &.is_accordion {
      &::after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 50px;
        background: hsla(0, 0%, 100%, 0);
        background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 1) 60%, hsla(0, 0%, 100%, 0.5) 100%, hsla(0, 0%, 100%, 0));
      }
    }
  }
  .review_img {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 14px;
    margin: 1rem 0;

    @include sp {
      flex-direction: column;
    }
    .img {
      width: calc((100% / 2) - 7px);
      aspect-ratio: 3 / 2;

      @include sp {
        width: 100%;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }
  .review_reply {
    border-top: var(--clGray_cc) 1px solid;
    margin-top: 1rem;
    padding: 1rem 0 0;

    .farmer_prof {
      display: flex;
      justify-content: space-between;

      .prof_img {
        min-width: 40px;
        display: inline-block;
        position: relative;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.1);
          background-color: #fff;
        }
        .icon_status {
          position: absolute;
          top: 23px;
          left: 32px;
        }
      }
      .prof_info {
        width: calc(100% - 50px);
        .prof_name {
          font-size: rem(13);
          line-height: 1.5;
          @include ellipsis();
          margin-bottom: 8px;

          &::before {
            content: "生産者";
            border: var(--clText) 1px solid;
            font-size: rem(12);
            background-color: #fff;
            padding: 2px 6px;
            margin-right: 5px;
          }
          a {
            color: var(--clText);
          }
        }
      }
      .reply {
        flex: 1;
        position: relative;
        border: 1px solid var(--clGray_cc);
        border-radius: 6px;
        &::before {
          content: "";
          position: absolute;
          left: -6px;
          top: 8px;
          border-right: 10px solid var(--clGray_cc);
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
        }
        &::after {
          content: "";
          position: absolute;
          left: -5px;
          top: 8px;
          border-right: 10px solid #fff;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
        }
      }
      .reply_text {
        position: relative;
        display: block;
        padding: 12px 15px;
        background-color: #fff;
        border-radius: 5px;
        font-size: rem(13);
      }
      .reply_date {
        font-size: rem(11);
        color: var(--clGray_97);
        text-align: right;
      }
    }
  }
  // 画像ありの場合「画像あり」アイコンを出す
  &.is_pic {
    .review_header {
      .icon_pic {
        display: inline-block;
      }
    }
    .review_img {
      display: flex;
    }
  }
}

/*============================
  生産者コメント返信モーダル
  ============================*/
#modal_commentReply {
  .modal-header {
    background-color: var(--clMain02_light);
  }
  .modal-content {
    text-align: left;
  }
  .review_comment {
    margin-bottom: 0;
  }
  .review_img {
    display: flex;
  }
  .reply_text {
    font-size: rem(14);
    margin-top: 1rem;
  }
  .commentInput {
    height: 5rem;
    font-size: rem(13);
  }
  .over_text {
    font-size: rem(13);
    margin: 0;
  }
  .btn_submit {
    font-size: rem(18);
    height: 59px;
    width: min(100%, 300px);
    font-weight: bold;

    @include sp {
      width: min(100%, 100%);
    }
    &:disabled {
      background-color: var(--clGray_cc);
      opacity: 1;
    }
  }
}
