@use "../partial" as *; // 名前空間を省略

/*============================
商品詳細・スマホ版商品写真(Swiper利用・768px以下で発動)
============================*/

.main_img_sp {
  position: relative;
  max-width: calc(100vw - 20px);
  margin: 0 auto;

  .swiper-wrapper {
    margin-bottom: 10px;
    height: auto;

    .swiper-slide {
      aspect-ratio: 3 / 2;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 32px;
    height: 32px;
    background-color: #444444;
    border-radius: 50%;
    border: #fff 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;

    &:after {
      content: "";
    }
  }
  .btn_photoAll {
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: rem(14);
    background-color: #fff;
    display: flex;
    align-items: center;
    z-index: 10;
  }
}

// サムネイル
.sub_img_sp {
  margin-bottom: 16px;

  .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    padding-bottom: 10px;
    overflow-x: scroll;
    height: auto;

    &::-webkit-scrollbar {
      height: 3px;
    }
    &::-webkit-scrollbar-track {
      background: var(--clGray_ed);
    }
    &::-webkit-scrollbar-thumb {
      background: var(--clMain01);
    }
    .swiper-slide {
      width: calc(100% / 5) !important;
      aspect-ratio: 3 / 2;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
        opacity: 0.5;
      }
    }
    .swiper-slide-thumb-active {
      img {
        opacity: 1;
        border: var(--clMain01) 2px solid;
      }
    }
  }
}
