@use "../partial" as *; // 名前空間を省略

/*============================
ツールチップ
============================*/

.tip {
  position: absolute;
  display: block;
  color: #fff;
  background-color: #434343;
  font-size: rem(11);
  font-weight: bold;
  width: 120px;
  text-align: center;
  padding: 5px 0;
  transform: translateX(-50%) translateY(-120%);
  left: 50%;
  border: #fff 1px solid;
  border-radius: 4px;
  top: 0px;
  z-index: 1;
  pointer-events: none;
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  opacity: 0;

  @include sp {
    display: none;
  }
  &::before {
    border: 12px solid transparent;
    border-top: 12px solid #555;
  }
  &::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #434343;
    border-top: transparent 1px solid;
    border-right: #fff 1px solid;
    border-left: transparent 1px solid;
    border-bottom: #fff 1px solid;
    position: absolute;
    border-radius: 2px;
    transform: translate(-50%, 50%) rotate(45deg);
    bottom: 1px;
    left: 50%;
    z-index: -1;
  }
}
