@use "../partial" as *; // 名前空間を省略

/*============================
会員区分アイコン
============================*/

[class*="userstatus_"] {
  line-height: 0;
  font-weight: bold;
  padding: 6px 8px;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.65rem;

  &::before {
    display: inline-block;
    width: 12px;
    height: auto;
    margin-right: 3px;
    vertical-align: -1px;
  }
}

// 新入生
.userstatus_free {
  color: #7a7a7a;
  background-color: #fff;
  border: 2px solid #f0f0f0;

  &::before {
    content: url(../images/ico_free.svg);
  }
}

// ペンギン
.userstatus_pengin {
  color: #965de6;
  background-color: #f8f5fc;
  border: 2px solid #f1e8ff;

  &::before {
    content: url(../images/ico_pengin.svg);
  }
}

// イルカ
.userstatus_iruka {
  color: #4e9cf5;
  background-color: #f7fbff;
  border: 2px solid #e6f2ff;

  &::before {
    content: url(../images/ico_iruka.svg);
  }
}

// パンダ
.userstatus_panda {
  color: #5e9900;
  background-color: #f7faf2;
  border: 2px solid #e4f2d0;

  &::before {
    content: url(../images/ico_panda.svg);
  }
}

// トラ
.userstatus_tora {
  color: #ef9300;
  background-color: #fffbf2;
  border: 2px solid #fff2d8;

  &::before {
    content: url(../images/ico_tora.svg);
  }
}

// こども
.userstatus_kodomo {
  color: #64c3c9;
  background-color: #fff;
  border: 2px solid #c8eef0;

  &::before {
    content: url(../images/ico_kodomo.svg);
  }
}

// ユーザーアイコン用会員区分
.icon_status {
  @include statusIconSize(m);

  &[class*="userstatus_"] {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;

    &::before {
      display: none;
    }
  }

  &.userstatus_pengin {
    content: url(../images/ico_border_pengin.svg);
  }
  &.userstatus_iruka {
    content: url(../images/ico_border_iruka.svg);
  }
  &.userstatus_panda {
    content: url(../images/ico_border_panda.svg);
  }
  &.userstatus_tora {
    content: url(../images/ico_border_tora.svg);
  }
  &.userstatus_kodomo {
    content: url(../images/ico_border_kodomo.svg);
  }
}
