@use "../partial" as *; // 名前空間を省略

/*============================
質問コメント
============================*/

.productComment {
  background-color: var(--clMain01_lighter);
  .commentInput_box {
    width: 820px;
    margin: 0 auto;
    padding: 60px 20px;
    box-sizing: border-box;
    @include mq(320px, 819px) {
      width: 100%;
      padding: 60px 20px;
    }
  }
  .comment_label {
    font-size: rem(22);
    font-weight: bold;
    margin-bottom: 30px;
  }
  .commentInput {
    width: 100%;
    height: 5rem;
    margin: 0 auto 5px auto;
    box-sizing: border-box;
    &:focus {
      background-color: #fff;
    }
    &.is_error {
      &:focus {
        background-color: #fff7f7;
      }
    }
  }

  .freeStatus_text {
    font-size: rem(14);
    padding-bottom: 40px;
    border-bottom: var(--clGray_cc) 1px solid;
    margin-bottom: 30px;
    a {
      text-decoration: underline;
    }
  }
  .over_text {
    font-size: rem(13);
    margin: 0;
  }
  .caution_txt {
    font-size: rem(12);
    text-align: center;
    line-height: 18px;
    margin-bottom: 6px;
  }

  .btn_area {
    text-align: center;
    padding-bottom: 40px;
    border-bottom: var(--clGray_cc) 1px solid;
    margin-bottom: 30px;
  }

  .commentInputBtn {
    width: 195px;
    line-height: 1.5;
    &:disabled {
      background-color: var(--clGray_cc);
      opacity: 1;
    }
  }

  .commentList {
    li {
      display: flex;
      margin-bottom: 20px;
      &.overComment {
        height: 0;
        overflow: hidden;
        margin-bottom: 0;
        transition: height 0.3s;
        &.is_active {
          margin-bottom: 20px;
          overflow: visible;
        }
      }

      .user {
        position: relative;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 1px solid #eeeeee;
          background-color: #fff;
        }
        .icon_status {
          position: absolute;
          top: 23px;
          left: 32px;
        }
      }
      .comment_box {
        width: 100%;
        margin-left: 15px;
        .commentInfo_box {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 5px;
          .name {
            font-size: rem(13);
            a {
              color: var(--clText);
            }
          }
          .time {
            color: var(--clGray_97);
            font-size: rem(10);
          }
        }
      }

      .comment {
        position: relative;
        border: 1px solid var(--clGray_cc);
        border-radius: 6px;
        &::before {
          content: "";
          position: absolute;
          left: -6px;
          top: 8px;
          border-right: 10px solid var(--clGray_cc);
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
        }
        &::after {
          content: "";
          position: absolute;
          left: -5px;
          top: 8px;
          border-right: 10px solid #fff;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
        }
        &.is_accordion {
          .commentText {
            max-height: 117px;
            overflow: hidden;
            transition: max-height 0.2s;
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 50px;
              border-radius: 0 0 10px 10px;
              background: hsla(0, 0%, 100%, 0);
              background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 1) 60%, hsla(0, 0%, 100%, 0.5) 100%, hsla(0, 0%, 100%, 0));
            }
          }
          .more,
          .close {
            position: absolute;
            bottom: 5px;
            left: 12px;
            color: var(--clMain01);
            font-size: rem(12);
            font-weight: bold;
            opacity: 1;
            cursor: pointer;
          }
          .more {
            display: inline-block;
          }
        }
        &.is_active {
          .commentText {
            max-height: 300px;
            padding-bottom: 40px;
            &::after {
              background: none;
            }
          }
          .more {
            display: none;
          }
          .close {
            display: inline-block;
          }
        }
        .commentText {
          position: relative;
          display: block;
          padding: 12px 15px;
          background-color: #fff;
          border-radius: 5px;
          font-size: rem(13);
        }
        .delete {
          display: none;
        }
        .more {
          display: none;
        }
        .close {
          display: none;
        }
      }
      &.is_seller {
        .name {
          &::before {
            content: "生産者";
            border: var(--clText) 1px solid;
            font-size: rem(12);
            background-color: #fff;
            padding: 2px 6px;
            margin-right: 5px;
          }
        }
      }

      &.is_self {
        .delete {
          @include flexCenter(xy);
          position: absolute;
          bottom: 7px;
          right: 7px;
          width: 2rem;
          height: 2rem;
          color: #fff;
          background: var(--clGray_97);
          text-align: center;
          border-radius: 4px;
          cursor: pointer;
          &:hover {
            @include hover();
          }
        }
      }
    }
  }
  /* すべてのコメントを見る */
  .commentShowAllBtn_box {
    text-align: center;
    display: none;
    &.is_active {
      display: block;
      .commentShowAllBtn {
        display: none;
      }
      .commentShowCloseBtn {
        display: block;
      }
    }
  }
  .commentShowAllBtn,
  .commentShowCloseBtn {
    display: block;
    color: var(--clMain01);
    font-size: rem(14);
    font-weight: bold;
    margin: 0 auto;
    i {
      font-size: rem(12);
      margin-left: 10px;
      vertical-align: middle;
    }
    &:focus {
      outline: none;
    }
  }
  .commentShowCloseBtn {
    display: none;
  }
}
