<%#
    パンくずリスト
    include('parts/_breadcrumb', {path: '', currentPage: 'トップ'})
    入力項目：
    currentPage -> 今いるページ
%>

<ul class="breadcrumb_list">
  <li class="breadcrumb_item"><a href="./">トップ</a></li>
  <li class="breadcrumb_item"><%= currentPage %></li>
</ul>