<%#
    商品詳細・検索結果カテゴリー
    include('parts/_categoryIndex', {path: ''})
%>

<!-- カテゴリリスト -->
<ul class="categoryIndex">
  <!-- 【sys】大カテゴリ -->
  <li class="category_list"><a href="search-index.html" class="category_link">果物</a></li>
  <!-- 【sys】小カテゴリ -->
  <li class="category_list"><a href="search-index.html" class="category_link">ぶどう</a></li>
</ul>
<!-- /カテゴリリスト -->