<header id="globalHeader" class="header">
  <div class="header_container">
    <div class="header_navbar">
      <h1 class="logo">
        <a class="" href="index.html"><img src="assets/images/logo.svg" alt="リベシティファーマーズマーケット"></a>
      </h1>

      <!-- ヘッダー内ナビゲーション -->
      <nav class="header_nav">
      </nav>

    </div>
  </div>
</header>
