<%#
  ページ離脱アラートモーダル
  include('parts/_modal_pageAlert')
  `aタグ`クリックすると表示。ただし、aタグに`evasionBtn`を付与すると無効化
%>

<!-- 【sys】ページ離脱アラートモーダル -->
<div class="modal fade" id="pageAlertModal" tabindex="-1" role="dialog" aria-labelledby="pageAlertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="pageAlertModalLabel">画面を移動しますか？</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-start">フォームの入力途中で画面を移動すると、入力内容が消えてしまうことがあります。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <%# デフォルトリンクは無しでOK(JSで制御します) %>
        <a href="#" class="btn btn-primary evasionBtn" id="targetLink">OK</a>
      </div>
    </div>
  </div>
</div>