<%#
  応援会員登録モーダル
  include('parts/_modal_statusFree', {path: ''})
%>

<!-- 新入生会員向け：応援会員登録モーダル -->
<div class="modal fade" id="statusFreeModal" tabindex="-1" aria-labelledby="statusFreeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold">応援会員登録が必要です</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>「リベシティ◎◎」で商品の出品・購入をする場合は、応援会員登録が必要です</p>
      </div>
      <div class="modal-footer justify-content-center">
        <a href="https://libecity.com/mypage/member_change" target="_blank" class="btn btn-primary">応援会員登録</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
<!-- /新入生会員向け：応援会員登録モーダル -->