<%#
  電話番号登録モーダル
  include('parts/_modal_telSetting', {path: ''})
%>

<!-- 電話番号未登録のユーザー向け：電話番号登録モーダル -->
<div class="modal fade" id="telsettingModal" tabindex="-1" role="dialog" aria-labelledby="telsettingModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="telsettingModalTitle"><i class="fas fa-info-circle me-1 text-primary" aria-hidden="true"></i>電話番号の登録をお願いします</h2>
        <button type="button" class="btn-close evasionBtn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>「リベシティ◎◎」で商品の出品・購入をする場合は、マイページの<a class="text-primary fw-bold" href="https://liberalartsuniversity.github.io/front-mock/ver2/mypage_tel_setting.html">電話番号設定</a>から、認証に使用する電話番号を登録してください。<br><span class="text-danger fw-bold">電話番号未登録の場合はご利用いただけません</span>ので、ご注意ください。</p>
        <p class="mt-3">※電話番号認証の登録が反映されない場合、<a class="text-primary fw-bold" href="#">こちら</a>をクリックして更新してください</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">今は登録しない</button>
        <a type="button" class="btn btn-primary" href="https://liberalartsuniversity.github.io/front-mock/ver2/mypage_tel_setting.html">電話番号を登録</a>
      </div>
    </div>
  </div>
</div>
<!-- /電話番号未登録のユーザー向け：電話番号登録モーダル -->