<div class="collapse multi-collapse header_menu" id="notificationList">
  <ul class="navbar-nav">
    <!-- 【sys】is_unreadクラス付与で未読の通知に背景色を付ける。 -->
    <li class="is_unread">
      <a href="products-id.html#productComment">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」に生産者がコメントしました。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】購入者表示：生産者がキャンセルする -->
    <li>
      <a href="management_08.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」の注文がキャンセルされました。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】購入者表示：生産者が着金確認ボタンを押す -->
    <li>
      <a href="management_03.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」の支払いが確認されました。商品発送までしばらくお待ちください。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】購入者表示：生産者が発送通知ボタンを押す -->
    <li>
      <a href="management_04.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」が発送されました。商品を受け取ったら、「受取通知」をしてください。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】購入者表示：購入者が受け取り通知をせずに14日経過した -->
    <li>
      <a href="management_04.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」の発送から2週間が経ちました。商品を受け取ったら、「受取通知」をしてください。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】購入者表示：お気に入り登録している商品の在庫が0から1以上になる -->
    <li>
      <a href="products-id.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」の販売が再開されました。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】購入者表示：購入者が受け取り通知をせずに30日経過した -->
    <li>
      <a href="management_05.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」の発送から30日経ったので受け取りが自動で完了しました。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】購入者表示：購入者が受け取り通知をして3日後 -->
    <li>
      <a href="management_05.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」に対して、いいねやレビューを送ることができます。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】is_unreadクラス付与で未読の通知に背景色を付ける。 -->
    <!-- 【sys】is_farmerクラス付与で生産者向け通知 -->
    <!-- 【sys】生産者表示：購入者が注文完了する -->
    <li class="is_unread is_farmer">
      <a href="management_farmer_01.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」の注文がありました。支払い完了までお待ちください。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】生産者表示：購入者が支払完了する -->
    <li class="is_farmer">
      <a href="management_farmer_02.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」の支払い（支払い方法）が完了しました。着金を確認の上、商品を発送してください。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】生産者表示：購入者が受取完了する -->
    <li class="is_farmer">
      <a href="management_farmer_05.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」の受け取り通知が届きました。これで取引は完了です。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】生産者表示：購入者がいいねする -->
    <li class="is_farmer">
      <a href="management_farmer_06.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」にいいね！が届きました。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】生産者表示：購入者がいいねとレビューする -->
    <li class="is_farmer">
      <a href="management_farmer_06.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」にレビューといいね！が届きました。レビューにコメントを返しましょう。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】生産者表示：購入者（購入希望者）がコメントする -->
    <li class="is_farmer">
      <a href="products-id.html#productComment">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」にコメントがありました。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】生産者表示：購入者がキャンセルする -->
    <li class="is_farmer">
      <a href="management_farmer_08.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」の注文がキャンセルされました。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】生産者表示：購入者が受け取り通知をせずに30日経過した -->
    <li class="is_farmer">
      <a href="management_farmer_05.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」の発送から30日経ったので受け取りが完了しました。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- （出品中）機能制限系の通知↓↓ -->

    <!-- 【sys】生産者表示：生産者が機能制限（決済失敗）された -->
    <!-- 【sys】生産者表示：生産者が機能制限（解約）された -->
    <!-- 【sys】生産者表示：生産者が機能制限（発言禁止）された -->
    <!-- 【sys】生産者表示：生産者が機能制限（アカウントBAN）された -->
    <li class="is_farmer">
      <a href="sell_05.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <!-- 【sys】商品名（最大50文字）20文字以上は三点リーダー（JS実装済） -->
        <p>機能が制限されていたため、「<span class="productName">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</span>」を自動で出品停止しています。必要に応じて出品を再開してください。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- （注文商品がある場合）機能制限系の通知↓↓ -->
    <!-- 【sys】生産者表示：生産者が機能制限（解約）された -->
    <!-- 【sys】生産者表示：生産者が機能制限（アカウントBAN）された -->
    <li class="is_farmer">
      <a href="management_farmer_09.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <p>機能が制限されていたため、システムにより自動キャンセルしました。</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>

    <!-- 【sys】購入者表示：生産者が機能制限（解約）された -->
    <!-- 【sys】購入者表示：生産者が機能制限（アカウントBAN）された -->
    <li>
      <a href="management_09.html">
        <div class="notificationImg">
          <img src="assets/images/product_sample1.png" alt="{商品名}">
        </div>
        <!-- 【sys】通知が届いた時間を表示 -->
        <!-- 【sys】yyyy/mm/dd hh:mm 24時間表記 -->
        <time>2022/10/3 21:20</time>
        <p>生産者が取引を継続できない状態になったため、システムにより自動キャンセルしました</p>
      </a>
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
    </li>
  </ul>

  <!-- 【sys】通知がない場合の表示 -->
  <p class="no_message">通知はありません</p>

  <button class="btn btn-sm bg_navy btn_close" data-bs-toggle="collapse" data-bs-target="#notificationList" aria-controls="notificationList" aria-expanded="false"><i class="fa-regular fa-xmark"></i>閉じる</button>
</div>