<%# サービス（商品）レビュー
include('parts/_reviewCassette', {path: '', picture: false, reply: true, farmer: true, reviewMsg: 'レビュー例文。これはテストです。', productInfo: false})
入力項目：
・picture -> 写真、なければfalse
・reply -> レビューへの返信、なければfalse
・farmer -> 生産者用表示（コメントするボタン表示）その他はfalse
・reviewMsg -> レビューコメント
・replyMsg -> 返信コメント
・productInfo -> 商品名・商品写真
%>

<!-- レビューカセット -->
<!-- 【sys】画像有りの場合is_picクラス付与 -->
<% if(picture) { %>
<article class="review_box is_pic">
  <% } else { %>
  <article class="review_box">
    <% } %>

    <% if(productInfo) { %>
    <!-- 【sys】商品写真・商品名 -->
    <div class="productInfo">
      <a class="link" href="products-id.html">
        <img src="assets/images/product_sample1.png" alt="{商品名}">
        <p class="name">最大50文字です。【訳あり】シャインマスカット500g商品名が入ります商品名が入ります商品名が入りま</p>
      </a>
    </div>
    <% } %>

    <!-- 購入者情報 -->
    <div class="prof_wrap">
      <div class="prof_img">
        <a href="buyer_achievement.html">
          <img src="assets/images/sample_user3.png" alt="{購入者名が入ります}">
          <span class="icon_status userstatus_tora"></span>
        </a>
      </div>
      <p class="name"><a href="buyer_achievement.html">個人事業主くん</a></p>
    </div>

    <!-- レビュー内容 -->
    <div class="review">
      <div class="review_header">
        <!-- 【sys】コメントをした日 -->
        <span class="date">2021/11/11</span>
        <!-- 【sys】写真の登録がある場合に表示（review_boxクラスにis_picクラスを追加すると表示されます） -->
        <span class="icon_pic"><i class="fa-regular fa-images me-1"></i>写真あり</span>
      </div>
      <div class="review_comment">
        <div class="review_commentInner js_reviewText">
          <!-- 【sys】商品レビュー：1000文字 -->
          <p class="text"><%- reviewMsg %></p>

          <% if(picture) { %>
          <!-- 【sys】写真：最大4枚 -->
          <div class="review_img">
            <% for (var i = 0; i < 4; i++) { %>
            <div class="img"><img src="assets/images/product_sample1.png" alt=""></div>
            <% } %>
          </div>
          <% } %>

          <% if(reply) { %>
          <!-- 【sys】レビューへの返信がある場合 -->
          <div class="review_reply">
            <div class="farmer_prof">
              <div class="prof_img">
                <a href="farmer_achievement.html">
                  <img src="assets/images/sample_user1.png" alt="{生産者名が入ります}">
                  <span class="icon_status userstatus_iruka"></span>
                </a>
              </div>
              <div class="prof_info">
                <!-- 【sys】生産者名 -->
                <p class="prof_name"><a href="farmer_achievement.html">主婦ちゃん主婦ちゃん</a></p>
                <div class="reply">
                  <!-- 【sys】商品レビュー：1000文字 -->
                  <p class="reply_text"><%- replyMsg %></p>
                </div>
                <!-- 【sys】コメントをした日 -->
                <div class="reply_date">2021/11/15</div>
              </div>
            </div>
          </div>
          <% } %>
        </div>

        <div class="btn_more js_reviewMoreBtn">
          続きを読む
        </div>
      </div>

      <% if(reply == false && farmer == true) { %>
      <!-- 【sys】生産者の表示で返信をまだしていない場合、コメントボタンを表示 -->
      <div class="btn_comment">
        <button type="button" class="btn btn_clMain02 farmerCommentInputBtn evasionBtn" data-bs-toggle="modal" data-bs-target="#modal_commentReply"><i class="fa-regular fa-comment me-1"></i>コメントする</button>
      </div>
      <% } %>

    </div>
  </article>
  <!-- /レビューカセット -->

  <%# include('_reviewReplyModal') %>