<%#
    ステータスメッセージ（売り切れや検索結果0など）
    include('_statusMessage', {path: '', status: 'success', title: 'メッセージタイトル', text: '（メッセージ説明）「<i class="fa-regular fa-heart me-1"></i>お気に入り」に追加しておくと、再入荷した時に通知が届きます。'})
    入力項目：
    status -> "success","attention","null"
    title -> メッセージタイトル
    text -> メッセージ内容
%>

<!-- ステータスメッセージ -->
<div class="statusMsg <%= status %>">
  <p><%= title %></p>
  <% if(text){ %>
  <p><%- text %></p>
  <% }%>
</div>