@charset "UTF-8";
/*============================
基本スタイル設定
============================*/
/* ボタンサイズ
　　@include btnSize(s);
　　引数のs,m,lでサイズを選択 */
/* ユーザーアイコン（[class*="statusBorder_"]を付与したimgタグにinclude）
　　@include profIconSize(s);
　　引数のs,m,lでサイズを選択
  */
/* 会員区分アイコンのサイズ(.icon_statusにinclude)
　　@include statusIconSize(s);
　　引数のs,m,lでサイズを選択 */
/*============================
利用規約
============================*/
.rule .rule_inner {
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  counter-reset: number_section 0;
}
.rule .sec_title {
  font-size: 1.75rem;
  font-weight: bold;
  border-bottom: none;
  padding-bottom: 22px;
}
.rule .rule_title {
  font-weight: bold;
  font-size: 1.125rem;
  margin: 2rem 0 1rem 0;
}
.rule .rule_title::before {
  counter-increment: number_section 1;
  content: "第" counter(number_section) "条";
  margin-right: 10px;
}
.rule .title {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 2rem 0 1rem 0;
}
.rule .rule_text {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.rule .rule_olList {
  counter-reset: item;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.rule .rule_olList li {
  padding-left: 1.5rem;
}
.rule .rule_olList li::before {
  counter-increment: item;
  content: counter(item) ")";
  margin-left: -1rem;
  margin-right: 5px;
}
.rule .rule_olList .rule_olList_inner {
  padding-left: 1rem;
  counter-reset: item;
  margin-bottom: 1rem;
}
.rule .rule_olList .rule_olList_inner li::before {
  counter-increment: item;
  content: "(" counter(item) ")";
}
.rule .rule_ulList {
  font-size: 0.875rem;
  margin-bottom: 1rem;
  list-style: disc;
  padding-left: 1.5em;
}
.rule a {
  text-decoration: underline;
}
@media (320px < width <= 819px){
  .rule .rule_inner {
    width: 100%;
    padding: 0px 20px;
  }
}