@charset "UTF-8";
/*============================
基本スタイル設定
============================*/
/* ボタンサイズ
　　@include btnSize(s);
　　引数のs,m,lでサイズを選択 */
/* ユーザーアイコン（[class*="statusBorder_"]を付与したimgタグにinclude）
　　@include profIconSize(s);
　　引数のs,m,lでサイズを選択
  */
/* 会員区分アイコンのサイズ(.icon_statusにinclude)
　　@include statusIconSize(s);
　　引数のs,m,lでサイズを選択 */
/*============================
トップページ
============================*/