<%# サービスタイトル｜サービス説明を入力 %>
<% const title = 'サイト名｜サイト説明'; %>

<!DOCTYPE html>
<html lang="ja">

<head>
  <%# head読み込み %>
  <%- include('parts/_head', {path: './', title: title})%>
  <%# 各ページのCSS/JS読み込みここから %>
  <link rel="stylesheet" href="./scss/top.scss">
  <%# メニューカテゴリー開閉 %>
  <script src="./assets/js/category.js"></script>
  <%# お気に入りボタン %>
  <script src="./assets/js/favBtn.js"></script>
  <%# フォーム関連：チェックボックス %>
  <script src="./assets/js/form_checkbox.js"></script>
  <%# フォーム関連：最小価格・最大価格の制御 %>
  <script src="./assets/js/form_sortPrice.js"></script>
</head>

<body>
  <%# header読み込み %>
  <%- include('parts/_header', {path: ''})%>

  <!-- .js_alertPageクラス付与でフォームに入力がある時別ページをクリックすると離脱アラートが出ます -->
  <main>

    <aside id="main_visual">
      <!-- 【sys】注文履歴が1件以上あるユーザーにはメインビジュアル非表示 -->
      <picture class="img_wrap">
        <source srcset="assets/images/mv_sp.png" media="(max-width: 768px)" type="image/png">
        <img src="assets/images/mv.png" alt=リベシティの生産者から直接オンライン購入できるオンラインマーケット>
      </picture>

      <div class="guide_box">
        <a href="guide.html" class="btn btn_gradient btn_guide">使い方ガイド</a>
        <a href="farmer.html" class="btn btn_gradient btn_toFarmer">生産者の方へ</a>
      </div>

      <!-- 【sys】出品数が多い大カテゴリ上位4つを表示 -->
      <div class="category_box">
        <!-- 【sys】カテゴリ：野菜 -->
        <a href="search-index.html" class="cat_link">
          <div class="overlay"></div>
          <img src="assets/images/cat_vegetable.png" alt="野菜">
          <span class="text">野菜</span>
        </a>

        <!-- 【sys】カテゴリ：果物 -->
        <a href="search-index.html" class="cat_link">
          <div class="overlay"></div>
          <img src="assets/images/cat_fruit.png" alt="果物">
          <span class="text">果物</span>
        </a>

        <!-- 【sys】カテゴリ：魚介類 -->
        <a href="search-index.html" class="cat_link">
          <div class="overlay"></div>
          <img src="assets/images/cat_seafood.png" alt="魚介類">
          <span class="text">魚介類</span>
        </a>

        <!-- 【sys】カテゴリ：加工食品・調味料 -->
        <a href="search-index.html" class="cat_link">
          <div class="overlay"></div>
          <img src="assets/images/cat_product.png" alt="加工食品・調味料">
          <span class="text">加工食品・調味料</span>
        </a>

        <!-- 【sys】カテゴリ：肉類 -->
        <!-- <a href="search-index.html" class="cat_link">
          <div class="overlay"></div>
          <img src="assets/images/cat_meat.png" alt="肉類">
          <span class="text">肉類</span>
        </a> -->

        <!-- 【sys】カテゴリ：卵類 -->
        <!-- <a href="search-index.html" class="cat_link">
          <div class="overlay"></div>
          <img src="assets/images/cat_egg.png" alt="卵類">
          <span class="text">卵類</span>
        </a> -->

        <!-- 【sys】カテゴリ：花・植物 -->
        <!-- <a href="search-index.html" class="cat_link">
          <div class="overlay"></div>
          <img src="assets/images/cat_flower.png" alt="花・植物">
          <span class="text">花・植物</span>
        </a> -->

        <!-- 【sys】カテゴリ：酒類 -->
        <!-- <a href="search-index.html" class="cat_link">
          <div class="overlay"></div>
          <img src="assets/images/cat_alcohol.png" alt="酒類">
          <span class="text">酒類</span>
        </a> -->

        <!-- 【sys】カテゴリ：お茶類 -->
        <!-- <a href="search-index.html" class="cat_link">
          <div class="overlay"></div>
          <img src="assets/images/cat_tea.png" alt="お茶類">
          <span class="text">お茶類</span>
        </a> -->

        <!-- 【sys】カテゴリ：米・穀類 -->
        <!-- <a href="search-index.html" class="cat_link">
          <div class="overlay"></div>
          <img src="assets/images/cat_grain.png" alt="米・穀類">
          <span class="text">米・穀類</span>
        </a> -->

        <!-- 【sys】カテゴリ：はちみつ -->
        <!-- <a href="search-index.html" class="cat_link">
          <div class="overlay"></div>
          <img src="assets/images/cat_honey.png" alt="はちみつ">
          <span class="text">はちみつ</span>
        </a> -->
      </div>

      <div class="sp_only text-center">
        <a href="#sidebar" class="btn btn_clMain_border btn_spCategory">すべてのカテゴリを見る<i class="fal fa-chevron-right" aria-hidden="true"></i></a>
      </div>
    </aside>

    <div id="wrapper" class="top_page mt-4">
      <div class="content_wrap">
        <!-- 【sys】1ページにつき36件表示してください。 -->
        <!-- 【sys】検索結果画面と同じ造りですが、TOPページでは新着順に「すべて」の検索結果が表示されます -->
        <div class="captionBox">
          <h2 class="caption">
            <!-- 【sys】指定したカテゴリーを表示 -->
            <em>すべて</em>の商品
            <!-- 【sys】表示件数／登録件数 -->
            <small class="countBox"><span class="count">1 〜 36</span>件<span class="count">（999件中）</span></small>
          </h2>
        </div>

        <!-- 【sys】検索結果が0件の時 -->
        <div class="statusMsg null noResult">
          <p>該当する商品はありません</p>
        </div>

        <!-- 検索ボックス -->
        <%- include('parts/_search', {path: ''})%>
        <!-- /検索ボックス -->

        <!-- 出品商品リスト -->
        <div class="cardList">
          <%# 商品カード読み込み（売り切れ） %>
          <%- include('parts/_itemCard', {path : '', status : 'is_soldout', favBtn: true, provider: true}) %>
          <%# 商品カード読み込み（売り切れ・お気に入りボタン非表示） %>
          <%- include('parts/_itemCard', {path : '', status : 'is_soldout', favBtn: false, provider: true}) %>
          <%# 商品カード読み込み %>
          <% for($i = 0; $i < 3; $i++) { %>
          <%- include('parts/_itemCard', {path : '', status : '', favBtn: true,  provider: true}) %>
          <% } %>
        </div>
        <!-- /出品商品リスト -->

        <%# ページャー読み込み %>
        <%- include('parts/_pagination', {path : '', pageNum: '36'})%>

      </div>
      <!-- /content_wrap -->

      <!-- サイドバー（カテゴリ） -->
      <aside id="sidebar">
        <section>
          <h3 class="pc_only">カテゴリで絞り込む</h3>
          <h3 class="sp_only">カテゴリ一覧</h3>
          <ul class="main_cat">
            <%# カテゴリー読み込み %>
            <%- include('parts/_category', {path: ''})%>
          </ul>
        </section>

      </aside>
      <!-- /サイドバー（カテゴリ） -->

    </div>
    <!-- /wrapper -->
  </main>

  <%# ページトップ読み込み %>
  <%- include('parts/_pagetop', {path: ''})%>

  <%# footer読み込み %>
  <%- include('parts/_footer', {path: ''})%>

</body>

</html>
