<%# サービスタイトル｜サービス説明を入力 %>
<% const title = 'サイト名｜サイト説明'; %>

<!DOCTYPE html>
<html lang="ja">

<head>
  <%# head読み込み %>
  <%- include('parts/_head', {path: './', title: title})%>
  <!-- 各ページのcss,js読み込みここから -->
  <link rel="stylesheet" href="./scss/top.scss">
</head>

<body>

  <%# header読み込み %>
  <%- include('parts/_header', {path: ''})%>

  <main>
    <div id="wrapper" class="top_page">


    </div>
    <!-- /wrapper -->
  </main>

  <%# ページトップ読み込み %>
  <%- include('parts/_pagetop', {path: ''})%>

  <%# footer読み込み %>
  <%- include('parts/_footer', {path: ''})%>

</body>

</html>
