@charset "UTF-8";
@use "./partial" as *; // 名前空間を省略

// このファイルは全ページに共通の設定を記載しています。
// 複数のページに必要なスタイルを記載してください。

// リセットcss
@use "./partials/reset";

// 汎用スタイル・全体レイアウト・スクロールバー
@use "./partials/base";

// ボタン
@use "./partials/btn";

// フォーム
@use "./partials/form";

// テキスト
@use "./partials/text";

// ページトップ
@use "./partials/pageTop";

// パンくずリスト
@use "./partials/breadcrumb";

// ツールチップ
@use "./partials/tip";

// ヘッダー
@use "./partials/header";

// フッター
@use "./partials/footer";

// レイアウト
@use "./partials/layout";
