@use "partial" as *; // 名前空間を省略

/*============================
利用規約
============================*/

.rule {
  .rule_inner {
    max-width: 820px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    counter-reset: number_section 0;

    @include mq(320px, 819px) {
      width: 100%;
      padding: 0px 20px;
    }
  }
  .sec_title {
    font-size: rem(28);
    font-weight: bold;
    border-bottom: none;
    padding-bottom: 22px;
  }
  .rule_title {
    font-weight: bold;
    font-size: rem(18);
    margin: 2rem 0 1rem 0;

    &::before {
      counter-increment: number_section 1;
      content: "第" counter(number_section) "条";
      margin-right: 10px;
    }
  }
  .title {
    font-size: rem(18);
    font-weight: bold;
    margin: 2rem 0 1rem 0;
  }
  .rule_text {
    font-size: rem(14);
    margin-bottom: 1rem;
  }
  .rule_olList {
    counter-reset: item;
    font-size: rem(14);
    margin-bottom: 1rem;

    li {
      padding-left: 1.5rem;

      &::before {
        counter-increment: item;
        content: counter(item) ")";
        margin-left: -1rem;
        margin-right: 5px;
      }
    }
    .rule_olList_inner {
      padding-left: 1rem;
      counter-reset: item;
      margin-bottom: 1rem;

      li::before {
        counter-increment: item;
        content: "(" counter(item) ")";
      }
    }
  }
  .rule_ulList {
    font-size: rem(14);
    margin-bottom: 1rem;
    list-style: disc;
    padding-left: 1.5em;
  }
  a {
    text-decoration: underline;
  }
}
