@use "./partial" as *; // 名前空間を省略

/*============================
トップページ
============================*/

// カテゴリーメニュー
@use "./partials/category";

// 商品カード
@use "./partials/itemCard";

// お気に入りボタン
@use "./partials/favBtn";

// ページネーション
@use "./partials/pagination";

#main_visual {
  width: 100%;

  .img_wrap {
    background-color: #ffef86;
    text-align: center;
    height: 186px;
    @include sp {
      height: 143px;
    }
    img {
      width: 100%;
      height: 100%;
      &.img_pc {
        object-fit: contain;
        @media screen and (max-width: 560px) {
          display: none;
        }
      }
      &.img_sp {
        display: none;
        @media screen and (max-width: 560px) {
          display: block;
          object-fit: cover;
        }
      }
    }
  }

  .guide_box {
    background-color: var(--clMain01_lighter);
    width: 100%;
    margin: 0 auto;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    @include sp {
      display: none;
    }
    a[class*="btn_"] {
      min-width: 210px;
      height: 56px;
      @include flexCenter(xy);
      font-weight: bold;
      font-size: 18px;
      &:not(last-of-type) {
        margin-right: 12px;
      }
      &::before {
        vertical-align: middle;
        margin-right: 5px;
      }
    }
    .btn_toFarmer {
      &::before {
        content: url(../images/ico_toFarmers.svg);
      }
    }
    .btn_guide {
      &::before {
        content: url(../images/ico_guide.svg);
      }
    }
  }
  .category_box {
    width: 98%;
    max-width: $pcWidth;
    margin: 45px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @include sp {
      padding: 0 20px;
      margin: 1rem auto;
      gap: 12px;
    }

    .cat_link {
      display: block;
      width: calc(25% - 12px);
      border-radius: 10px;
      overflow: hidden;
      position: relative;

      @include sp {
        width: calc((100% - 12px) / 2);
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.32);
        z-index: 1;
      }
      img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 9;
      }
      .text {
        position: absolute;
        display: block;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-size: rem(26);
        font-weight: bold;
        text-align: center;
        z-index: 2;
        @include sp {
          font-size: rem(18.5);
          padding: 0 30px;
        }
      }
    }
  }
}

.btn_spCategory {
  width: calc(100% - 40px);
  font-size: rem(14);
  font-weight: bold;
  padding: 10px 0;
  i {
    margin-left: 5px;
  }
}

.captionBox {
  border-bottom: 1px solid var(--clGray_ed);
  margin-bottom: 1rem;

  .caption {
    margin-bottom: 20px;
  }
  em {
    font-size: rem(24);
    font-weight: bold;
    margin: 0 5px;
  }
}
// 検索ページは件数を改行
.search {
  .captionBox {
    .countBox {
      @include sp {
        display: block;
      }
    }
  }
}

/* 検索結果0の時 */
.noResult {
  font-size: rem(13);
  text-align: center;
}

/* 検索ボックス */
.searchBox {
  @include flexCenter(y);
  gap: 10px;
  margin: 1rem 0;
  &_order {
    position: relative;
    select {
      padding-right: 20px;
      cursor: pointer;
      width: 100%;
      &#maxPrice {
        &:disabled {
          opacity: 0.5;
          cursor: default;
        }
      }
    }
    &::after {
      position: absolute;
      content: "";
      border-bottom: solid 2px var(--clGray_97);
      border-right: solid 2px var(--clGray_97);
      width: 8px;
      height: 8px;
      right: 10px;
      top: calc(50% - 5px);
      transform: rotate(45deg);
      z-index: 1;
    }
  }

  .btn_search {
    font-size: rem(14);
    padding: 8px;
  }
}

/* 絞り込み検索 */
#sortSearchModal {
  .reset_sort {
    display: flex;
    justify-content: flex-end;
    input[type="reset"] {
      color: var(--clLink);
      font-size: rem(12);
      text-align: right;
      cursor: pointer;
      border: none;
      padding: 0;
    }
  }
}

/*============================
レイアウト
============================*/
#wrapper.top_page,
#wrapper.search {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  @include sp {
    flex-direction: column-reverse;
  }
}

#sidebar {
  width: 100%;
  max-width: $sideWidth;
  min-width: $sideWidth;
  align-self: start;
  order: 0;
  @include sp {
    max-width: 100%;
  }
}
.content_wrap {
  width: 100%;
  max-width: $mainWidth;
  margin-bottom: 100px;
  order: 1;

  @include sp {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1200px) {
  #wrapper.top_page {
    column-gap: 20px;
  }
}

/*============================
サイドバー
============================*/
/* PC用カテゴリ */
#sidebar {
  h3 {
    font-size: rem(18);
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

/*============================
商品（サービス）一覧
============================*/
.cardList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px 10px;
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*============================
お気に入り
============================*/
.bookmarkInfo {
  border: #7fc893 2px solid;
  border-radius: 6px;
  padding: 14px;
  margin-top: 50px;
  p {
    font-size: rem(13);
    position: relative;
    padding-left: 1rem;
    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
    .fa-circle-check {
      color: #7fc893;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }
}
